### Generated plots
*.eps

### Matlab ###
# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Simulink Code Generation
slprj/

### Physionet ###
db/
*.dat
*.hea
*.atr
*.qrs*

bin/wfdb/

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### Local helper scripts ###
# A folder for local scripts that use the rhrv tools.
scripts/

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

